.list {
    list-style: none;
    padding: 0;
}

.item {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    margin-top: 10px;
    border-radius: 8px;
}

.item:first-child {
    margin-top: 0;
}

.orderLink {
    text-decoration: none;
    color: black;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.addOrderBtn {
    margin-left: auto;
    min-width: 120px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
}

.formItem {
    margin-bottom: 15px;
}

.label {
    font-weight: bold;
}

.field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formError {
    border-color: red;
}

.btn {
    padding: 10px 20px;
    background-color: #B88E2F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #a07c28;
}

@media screen and (min-width: 833px) {
    .dateWrapper {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .item {
        margin: 0;
        /* max-width: 400px; */
    }
}