.calcHeader{
    text-align: center;
}

.calcArea {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schemaArea {
    display: block;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 100%;
    aspect-ratio: 1;
    height: auto;
}

.inputsArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50%;
}

.sizeInput {
    min-height: 38px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    padding: 0 15px;
}

.sleepSizeInput {
    width: 80px;
}

.proportionsBtnWrapper {
 margin-top: 10px;
 display: flex;
 gap: 10px;
}

/* .proportionsLabel {

} */

.bedDetailsWrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .calcArea {
        flex-direction: row;
    }

    .schemaArea {
        width: 70%;
    }
}