.calcHeader{
    text-align: center;
}

.calcArea {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.schemaArea {
    display: flex;
    box-sizing: border-box;
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    overflow: hidden;
}


.inputsArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50%;
}

.sizeInput {
    min-height: 38px;
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    padding: 0 15px;
}

.sleepSizeInput {
    width: 80px;
}

.proportionsBtnWrapper {
 margin-top: 15px;
 margin-bottom: 10px;
 display: flex;
 gap: 10px;
}

/* .proportionsLabel {

} */

.moduleDetailsArea{
    display: flex;
}

.moduleDetailsArea:nth-child(n + 2){
    margin-top: 5px;
}

.delModelBtn{
    width: 23px;
    height: 23px;
    margin-left: auto;
    border-radius: 50%;
    border: 1px solid red;
    background: transparent;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    background-color: #B88E2F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: calc((100% - 20px)/2);
}

.btn:hover {
    background-color: #a07c28;
}

.bedDetailsWrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .calcArea {
        flex-direction: row;
    }

    .schemaArea {
        width: min(70vw, 70vh);
        height: min(70vw, 70vh);
    }
}