.delModalWrapper {
    display: flex;
}

.formWrapper {
    margin-top: 20px;
    max-width: 500px;
}

/* .formItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff;
} */

.formItem {
    margin-bottom: 15px;
}

.formItem:nth-child(n + 2) {
    margin-top: 10px;
}

.formItem:hover,
.formItem:focus {
    outline: 2px solid #f1be44;
}

/* .field {
    border: none;
    background-color: transparent;
} */

.label {
    font-weight: bold;
}

.field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.field:hover,
.field:focus {
    outline: none;
}

/* .inputArray:nth-child(n+2) {
    margin-top: 10px;
} */

.quantityField {
    margin-left: 10px;
}

.inputArray {
    display: flex;
    margin-bottom: 10px;
}

.selectComponent{
    min-width: 60%;
}

/* .minBtn {
    background:#B88E2F;
    padding: 2px 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 10%;
} */

.minBtn {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #B88E2F;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    background-color: #B88E2F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: calc((100% - 20px)/2);
}

.btn:hover,
.minBtn:hover {
    background-color: #a07c28;
}

.minBtn:nth-child(n + 3) {
    margin-left: 15px;
}

/* .btn {
    background:#B88E2F;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    min-width: calc((100% - 20px)/2);
} */

.delBtn {
    background: #db4d15;
}

.btn:nth-child(n + 2) {
    margin-left: 20px;
}

.modalSubmitButton {
    margin-left: 0;
}