.backIcon {
    transform: rotate(180deg);
    width: 32px;
    height: 32px;
}

.orderNumber {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.description {
    margin-top: 10px;
}

.orderName {
    font-size: 18px;
    font-weight: bold;
}

.orderSize {
    margin-top: 10px;
}

.orderFabric {
    margin-top: 10px;
}

.orderDescription {
    margin-top: 10px;
}

.orderDeadline {
    margin-top: 20px;
}

.imagesList {
    list-style: none;
    padding: 0;
}

.orderImage {
    max-width: 100%;
    border: 1px solid #000;
}

.btn {
    padding: 10px 20px;
    background-color: #B88E2F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover,
.minBtn:hover {
    background-color: #a07c28;
}

.activeBtn {
    background-color: green;
}

.activeBtn:hover {
    background-color: rgb(5, 168, 5);
}

.backBtn {
    padding: 0 20px;
}

.formWrapper {
    margin-top: 20px;
    max-width: 500px;
}

.formItem {
    margin-bottom: 15px;
}

.formItem:nth-child(n + 2) {
    margin-top: 10px;
}

.formItem:hover,
.formItem:focus {
    outline: 2px solid #f1be44;
}

.label {
    font-weight: bold;
}

.field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.field:hover,
.field:focus {
    outline: none;
}

.inputItem {
    display: flex;
    align-items: center;
}

.optionWrapper {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
}

@media screen and (max-width: 670px) {
    .optionWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }

    .btn {
        width: 100%;
    }

    .btn:nth-child(n + 2) {
        margin: 0;
    }

    .backBtn {
        width: 90px;
    }
}